@import '~antd/dist/antd.css';

.container{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  background: rgb(245,245,245);
  padding-top:50px;
  overflow-x: hidden;
}

.App {
  text-align: center;
}
.nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 10;
  z-index: 2;
  box-shadow: 0px 0px 5px #ccc;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.item{

}

.video-page{
  width:80%;
  margin-left: 230px;
  min-height: 250px;
  position: relative;
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
}
.video-item{
  width:250px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.blackboard-page{
  width:100%;
  min-height: 300px;
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.user-page{
  width:100%;
  min-height: 300px;
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}


.ant-card-head{
  height: 60px !important;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 250px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}


.footer{
  width:100%;
  height: 200px;
  background-color: #333;
}

.video-page-left{
  margin-top: 10px;
  float:'left';
  width: 70%;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.video-page-right{
  position: fixed;
  right: 10px;
  top:50px;
  margin-top: 10px;
  width: 28%;
  height: 100px;
}